

# Set Creation

In [ ]:
# Creating a set
pset = {1, 2, 3, 4, 5}
print(pset)
print("Type of pset is :", type(pset))

# Creating a set using constructor
pset1 = set([3, 4, 5, 6, 7])
print(pset1)
print("Type of pset is :", type(pset1))

{1, 2, 3, 4, 5}
Type of pset is : <class 'set'>
{3, 4, 5, 6, 7}
Type of pset is : <class 'set'>

# Adding and Removing of Set Elemnts

In [ ]:
pset2 = {5, 20, 11, 21, 8, 9}
print(pset2)

pset2.add(10)
print("pset after adding item value 10: ", pset2)
pset2.remove(20)
pset2.discard(8)
pset2.discard(8)

{20, 5, 21, 8, 9, 11}
pset after adding item value 10:  {20, 5, 21, 8, 9, 10, 11}

# Set Operations

In [ ]:
# Union of two sets
print("pset1", pset1)
print("pset2", pset2)
pset2.remove(5)
union_set = pset1.union(pset2)
print("Union set after union :", union_set)

# Intersection of two sets
pset1.add(10)
pset3 = pset1.intersection(pset2)
print("Result of intersection of two sets : pset1 and pset2", pset3)

# Difference of two sets
pset4 = union_set.difference(pset2)
print("Difference of two sets : union_set and pset2", pset4)

pset1 {3, 4, 5, 6, 7}
pset2 {5, 21, 9, 10, 11}
Union set after union : {3, 4, 5, 6, 7, 9, 10, 11, 21}
Result of intersection of two sets : pset1 and pset2 {10}
Difference of two sets : union_set and pset2 {3, 4, 5, 6, 7}

# Changing items in the Set

In [ ]:
print("Items in set :pset2", pset2)
if 9 in pset2:
    print("9 is in the set")

Items in set :pset2 {21, 9, 10, 11}
9 is in the set

#Removing Duplicates

In [ ]:
plist = [21, 22, 25, 23, 14, 17, 18]
unique_elements = list(set(plist))
print("Unique elements in the set", unique_elements)

Unique elements in the set [14, 17, 18, 21, 22, 23, 25]

#Dictionaries of Python

In [ ]:
# Defining the dictionary
dict1 = {
    'Name': 'Basit',
    'Age': 21,
    'Class': 'Nine'
}

print("Dictionary No 1: ", dict1)
print("Type of dict1 is :", type(dict1))

# Accessing Items using square brackets
print("dict1['Name']: ", dict1['Name'])
print("dict1['Age']: ", dict1['Age'])

# Accessing items using the .get() method
x = dict1.get('Age')
print("Getting item through get method", x)

# Getting all keys using the .keys() method
y = dict1.keys()
print("Getting keys through get method", y)

Dictionary No 1:  {'Name': 'Basit', 'Age': 21, 'Class': 'Nine'}
Type of dict1 is : <class 'dict'>
dict1['Name']:  Basit
dict1['Age']:  21
Getting item through get method 21
Getting keys through get method dict_keys(['Name', 'Age', 'Class'])

# Update Dictionary

In [ ]:
# 1. Initialize the dictionary
student = {
    'Name': 'Basit',
    'Age': 21,
    'Class': 'Nine'
}
print(f"Original: {student}")

# 2. Update via Direct Assignment
# Best for changing a single known key
student['Age'] = 18
print(f"Direct Assignment: {student}")

# 3. Update via .update() method
# Best for updating multiple values at once or merging dictionaries
student.update({"Age": 17, "City": "lahore"})
print(f"Using .update(): {student}")

# 4. Update via Merge Operator (Python 3.9+)
# This creates a new dictionary without modifying the original 'student'
new_data = {"Age": 17, "Grade": "A"}
student = student | new_data
print(f"Using Merge (|): {student}")

Original: {'Name': 'Basit', 'Age': 21, 'Class': 'Nine'}
Direct Assignment: {'Name': 'Basit', 'Age': 18, 'Class': 'Nine'}
Using .update(): {'Name': 'Basit', 'Age': 17, 'Class': 'Nine', 'City': 'lahore'}
Using Merge (|): {'Name': 'Basit', 'Age': 17, 'Class': 'Nine', 'City': 'lahore', 'Grade': 'A'}

# Removing Items

In [ ]:
# Initializing the dictionary
dict1 = {
   'Name': 'Basit',
    'Age': 21,
    'Class': 'Nine'
}

# Displaying the original dictionary
print("Dictionary No 1: ", dict1)

# Removing the item with the key 'Class' using pop()
dict1.pop('Class')

# Displaying the dictionary after removal
print("Dictionary after pop (class): ", dict1)

Dictionary No 1:  {'Name': 'Ahmed', 'Age': 12, 'Class': 'Five'}
Dictionary after pop (class):  {'Name': 'Ahmed', 'Age': 12}

# Removing Dictionary using Popitem

In [ ]:
dict1 = {
    'Name': 'Basit',
    'Age': 21,
    'Class': 'Nine'
}

# Removes the last item and stores it
removed_item = dict1.popitem()

print(f"Removed: {removed_item}")
print(f"Updated Dictionary: {dict1}")

Removed: ('Class', 'Nine')
Updated Dictionary: {'Name': 'Basit', 'Age': 21}

# Deleting item Through Del

In [ ]:
dict1 = {
    'Name': 'Ali',
    'Class': 'Eight',
    'Age': 18
}

print("Dictionary No 1: ", dict1)

# Deleting the item with the key 'Class'
del dict1['Class']

print("Delete item using del : ", dict1)

Dictionary No 1:  {'Name': 'Ali', 'Class': 'Eight', 'Age': 18}
Delete item using del :  {'Name': 'Ali', 'Age': 18}

# Removing Dictionary

In [ ]:
# Defining the dictionary
dict1 = {
   'Name': 'Ali',
    'Class': 'Eight',
    'Age': 18

}

# Printing the initial dictionary
print("Dictionary No 1: ", dict1)

# Using clear() to remove all items
dict1.clear()

# Printing the dictionary after clearing it
print("Empty the Dictionary using clear() : ", dict1)

Dictionary No 1:  {'Name': 'Ali', 'Class': 'Eight', 'Age': 18}
Empty the Dictionary using clear() :  {}

#Tasks
## Task # 01

Creating  Numpy array, spliting  into 3 arrays then calculating sum of all arrays numbers.

In [18]:
import numpy as np

# Create an array
arr = np.array([10, 27, 57, 35, 56, 60, 73, 78, 91])

# Split into 3 arrays
split_arr = np.array_split(arr, 3)

# Calculate and print sums
for i, sub_arr in enumerate(split_arr, 1):
    print(f"Array {i}: {sub_arr}, Sum: {np.sum(sub_arr)}")

Array 1: [10 27 57], Sum: 94
Array 2: [35 56 60], Sum: 151
Array 3: [73 78 91], Sum: 242

# Task # 02

Creating a NumPy array to extract all numbers greater than 5 and less than 15.

In [19]:
import numpy as np

arr = np.array([1, 5, 7, 9, 10, 13, 16 ,20])

# Extract numbers > 5 and < 15
filtered_arr = arr[(arr > 5) & (arr < 15)]

print("Filtered Array:", filtered_arr)

Filtered Array: [ 7  9 10 13]

#Task # 03

Creating two sets (at least one set through constructor) set1 = {Even numbers (0-10)}
set2 = {Positive integers (1-10)}

a). Remove second and fifth element of set2
b). set3 = {intersection of set2 and set1}

In [20]:
# Set 1: Even numbers
set1 = {0, 2, 4, 6, 8, 10}

# Set 2: Positive integers
set2 = set([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

# a) Remove elements
set2.discard(2)
set2.discard(5)

# b) Intersection
set3 = set1.intersection(set2)

print("Set 1:", set1)
print("Set 2 (after removals):", set2)
print("Set 3 (Intersection):", set3)

Set 1: {0, 2, 4, 6, 8, 10}
Set 2 (after removals): {1, 3, 4, 6, 7, 8, 9, 10}
Set 3 (Intersection): {8, 10, 4, 6}

# Task # 04

Creating a dictionary named “students”. Store 5 different students record into dictionary. For key used sapId of the student. Student record should contain: sapid, name, age and Semester (Six). Update the Semester (Six) to Semester (Seven).

In [21]:

students = {
    1: {"sapid": 54596, "name": "Basit", "age": 21, "semester": "Six"},
    2: {"sapid": 54131, "name": "Shahroz", "age": 22, "semester": "Six"},
    3: {"sapid": 54915, "name": "Sarmad", "age": 20, "semester": "Six"},
    4: {"sapid": 54506, "name": "Ali", "age": 20, "semester": "Six"},
    5: {"sapid": 54323, "name": "Iqbal", "age": 19, "semester": "Six"}
}

# Update Semester from "Six" to "Seven" for all students
for sap_id in students:
    if students[sap_id]["semester"] == "Six":
        students[sap_id]["semester"] = "Seven"

# Display one record to verify
print("Updated Record for ID 3:", students[3])

Updated Record for ID 3: {'sapid': 54915, 'name': 'Sarmad', 'age': 20, 'semester': 'Seven'}