In [ ]:
print ("hello world")

hello world

In [3]:
b =input("Enter your name")
print(b)

Enter your namebasit
basit

In [7]:
n = input("Enter your friend name")
a = input("Enter your friend age")
i = input("Enter your friend intrest")
e = input("Enter your friend nationality")

print("name", n)
print("age", a)
print("intrest", i)
print("nationality", e)

Enter your friend nameshexi
Enter your friend age20
Enter your friend intrestcricket
Enter your friend nationalitypakistani
name shexi
age 20
intrest cricket
nationality pakistani

In [8]:
x= int(input("Enter your age"))
if x >= 18:
  print("you are eligible to vote")
else:
  print("you are not eligible to vote")

Enter your age26
you are eligible to vote

In [9]:
x= int(input("Enter your number"))
if x % 2 == 0 :
  print("number is even")
else:
  print("number is odd")

Enter your number17
number is odd

In [17]:
def greeting():
  print("hello")

In [18]:
greeting()

hello

In [23]:
def odd_even(n):
  if n % 2 ==0:
   print("number is even")
  else:
   print("number is odd")

In [24]:
num =int(input("Enter a number"))
print(odd_even(int(a)))

Enter a number13
number is even
None

In [25]:
def details():
  n = input("Enter your friend name")
  a = input("Enter your friend age")
  i = input("Enter your friend intrest")
  e = input("Enter your friend nationality")

  print("name", n)
  print("age", a)
  print("intrest", i)
  print("nationality", e)

In [58]:
13/2

6.5

In [59]:
14//3

4

In [29]:
details()
details()
details()
details()
details()

Enter your friend namebasit
Enter your friend age21
Enter your friend intrestcoding
Enter your friend nationalitypakistani
name basit
age 21
intrest coding
nationality pakistani
Enter your friend nameshexi
Enter your friend age21
Enter your friend intrestlair
Enter your friend nationalityindiain
name shexi
age 21
intrest lair
nationality indiain
Enter your friend namesarmad
Enter your friend age20
Enter your friend intrestbangali
Enter your friend nationalitybangali
name sarmad
age 20
intrest bangali
nationality bangali
Enter your friend nameb
Enter your friend age20
Enter your friend intrestdriving\
Enter your friend nationalitypakistani
name b
age 20
intrest driving\
nationality pakistani
Enter your friend namer
Enter your friend age21
Enter your friend intrestcricket
Enter your friend nationalitypakistani
name r
age 21
intrest cricket
nationality pakistani

In [35]:
for i in range(0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [54]:
n=int(input("enter a number"))
for i in range(1,11):
 print(n ,"x",i, "=", i*n)

enter a number4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [52]:
def prime (num):
  if num==0 or num==1:
    return 0
    for i in range (2,num):
     if num% i ==0:
      return 0
    return 1

In [53]:
count =0
for i in range (100):
  if prime(i)==1:
    print (count,"\t",i)
    if count>=20:
     count +=1

In [55]:
square = lambda x: x*x

In [56]:
for i in range (10):
 print(square(i))

0
1
4
9
16
25
36
49
64
81