#Implementing List

In [14]:
#-------------------
#  List in python
#-------------------


fruit_list = ["Apple", "Grapes","Mango",6 ,True]
print(fruit_list)
print(type(fruit_list))


#for lenght of list items
print(len(fruit_list))
#for acessing specific index

print(fruit_list[1])


#append()
fruit_list.append("Banana")
print(fruit_list)

#for loop
for i in fruit_list:
  print(i)

['Apple', 'Grapes', 'Mango', 6, True]
<class 'list'>
5
Grapes
['Apple', 'Grapes', 'Mango', 6, True, 'Banana']
Apple
Grapes
Mango
6
True
Banana

#1. Append method()

In [12]:

car = ["BMW",2025,"Honda",2019,"Toyota ",2018]
print(car)
car.append("Benz")
car.append(2017)
print(car)

['BMW', 2025, 'Honda', 2019, 'Toyota ', 2018]
['BMW', 2025, 'Honda', 2019, 'Toyota ', 2018, 'Benz', 2017]

#2. Clear Method

In [13]:

car = ["BMW",2025,"Honda",2019,"Toyota ",2018]
car.clear()
print(car)

[]

#3. Copy Method

In [15]:
car = ["BMW",2025,"Honda",2019,"Toyota ",2018]
vehicals=[]

vehicals=car.copy()
print(vehicals)

['BMW', 2025, 'Honda', 2019, 'Toyota ', 2018]

#4. Count() method

In [18]:
car = ["BMW",2025,"Honda",2019,"Toyota ",2018,2018,"BMW"]
print(car.count("BMW"))

2

#5. Extend() method

In [19]:
car = ["BMW",2025,"Honda",2019,"Toyota ",2018]
bike=["kawasaki","Ninja"]
car.extend(bike)
print(car)

['BMW', 2025, 'Honda', 2019, 'Toyota ', 2018, 'kawasaki', 'Ninja']

#6. Index() Method

In [23]:
car = ["BMW",2025,"Honda",2019,"Toyota ",2018]
print(car[5])

2018

#7. Inset() Method

In [24]:
car = ["BMW",2025,"Honda",2019,"Toyota ",2018]
car.insert(2,"Benz")
print(car)

['BMW', 2025, 'Benz', 'Honda', 2019, 'Toyota ', 2018]

#8. Pop() Method

In [25]:
car = ["BMW",2025,"Honda",2019,"Toyota ",2018]
car.pop(2)
print(car)

['BMW', 2025, 2019, 'Toyota ', 2018]

#9.  Remove() Method

In [26]:
car = ["BMW",2025,"Honda",2019,"Toyota ",2018]
car.remove("Honda")
print(car)

['BMW', 2025, 2019, 'Toyota ', 2018]

#10. Reverse() Method

In [27]:
car = ["BMW",2025,"Honda",2019,"Toyota ",2018]
car.reverse()
print(car)

[2018, 'Toyota ', 2019, 'Honda', 2025, 'BMW']

#11. Sort() Method

In [29]:
car = ["BMW","Honda","Benz","Toyota "]
car.sort()
print(car)

['BMW', 'Benz', 'Honda', 'Toyota ']

#12. Bonus Task
##  CPA CALCULATOR

In [ ]:
print("Welcome to my GPA calculator")

total_courses = int(input("Enter your total courses: "))

total_points = 0
total_credits = 0

for i in range(total_courses):
    print("\nCourse", i + 1)

    course = input("Enter your course name: ")
    credit_hours = int(input("Enter your credit hours: "))
    obtain_marks = int(input("Enter your obtained marks: "))

    if obtain_marks >= 85:
        grade_points = 4.0
    elif obtain_marks >= 80:
        grade_points = 3.7
    elif obtain_marks >= 75:
        grade_points = 3.3
    elif obtain_marks >= 70:
        grade_points = 3.0
    elif obtain_marks >= 65:
        grade_points = 2.7
    elif obtain_marks >= 60:
        grade_points = 2.3
    elif obtain_marks >= 55:
        grade_points = 2.0
    elif obtain_marks >= 50:
        grade_points = 1.7
    else:
        grade_points = 0.0

    total_points += grade_points * credit_hours
    total_credits += credit_hours

gpa = total_points / total_credits
print("\nYour GPA is:", round(gpa, 2))

Welcome to my GPA calculator